{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Customer Information</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  {% for customer in curr_customer %}
  <div class="user-info-list card card-default">
    <div class="card-header card-header-divider">Basic</div>
    <div class="card-body">
      <table class="no-border no-strip skills">
        <tbody class="no-border-x no-border-y">
          <tr>
            <td class="icon"><span class="icon s7-portfolio"></span></td>
            <td class="item">customer_id</td>
            <td>{{customer.customer_id}}</td>
          </tr>
          <tr>
            <td class="icon"><span class="icon s7-gift"></span></td>
            <td class="item">customer_name</td>
            <td>{{customer.customer_name}}</td>
          </tr>
          <tr>
            <td class="icon"><span class="icon s7-gift"></span></td>
            <td class="item">license_id</td>
            <td>{{customer.license_id}}</td>
          </tr>
          <tr>
            <td class="icon"><span class="icon s7-gift"></span></td>
            <td class="item">join_date</td>
            <td>{{customer.join_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</main>
{% endblock %}

