{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Customer Site Lists</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  

  <div class="shadow-sm border p-3 mb-5 bg-light rounded">
    <h6 class="mb-0 text-black lh-100">Path</h6>
    <small>/</small>
  </div>

  <div class="row">
    {% for site in sites %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{site.root_url}}" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <p class="card-text">{{site.root_url}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{site.get_tpl_url}}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
              <button type="button" class="btn btn-sm btn-outline-secondary">Lists</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>


{% endblock %}
