<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>MUZE - 템플릿 관리 페이지</title>
  </head>
  <body>
    <h1>Customer Template</h1>
    {% for customer in customers %}
        <h2>CUSTOMER_ID : {{customer.customer_id}}</h2>
    {% endfor %}
    {% for tpl in templates %}
        <p>
          tpl_id : {{tpl.tpl_id}}<br>
          customer_id : {{tpl.customer_id}}<br>
          site_id : {{tpl.site_id}}<br>
          permissions : {{tpl.permissions}}<br>
          module_id : {{tpl.module_id}}<br>
          tpl_url : {{tpl.tpl_url}}<br>
          tpl_path : {{tpl.tpl_path}}<br>
        </p>
    {% endfor %}

    <button id="add_template">ADD TEMPLATE</button><br>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>