html {height: 100%;}
body {min-width: 1400px; height: 100%; font-family: 'Ubuntu' , 'Noto Sans KR', sans-serif!important;}

a {color: #333;}
a:hover {color: #333; font-weight: 700;}



.muze-title-row {background-color: #070917;}

.muze-title {height: 60px; display: flex; align-items: center; justify-content: center;}
.muze-title a {font-weight: 700; color: #fff!important; font-size: 30px;}
.muze-container {height: 100%;}
.muze-container .col-2 {min-width: 225px;}


.btn-group {display: flex; align-items: center; justify-content: center;}
.period-btn {border: #212529 solid 2px; padding-top: 11px; font-size: 17px; width: 60px;}

.container-tab {max-height: 100%; min-width: 1600px;}
.container-tab-card {height: 100%;}

.container-tab-card .nav-item {width: 135px; text-align: center;}
.container-tab-card .nav-item:last-child {width: 180px;}
.container-tab-card .nav-item a {padding-top: 13px;border: #fff 0 solid;}
.container-tab-card .nav-item a:hover {color: #333; border: #fff 0 solid; border-bottom: #001745 2px solid;}

.container-tab-card .nav-item .active { font-weight: 700; color: #fff; background-color: #001745; }
.container-tab-card .nav-item .active:hover {color: #fff}

.dashboard-tap * {height: 52px;}

.log-table {min-width: 1600px;}
.log-table .table-responsive {max-height: 350px;}

.log-progress-container {max-height: 200px;}
.module-alert-left .card { height: 170px;}
.module-alert-left .card-body {align-items: center; justify-content: center; display: flex;}
.module-alert-left .card-body div { font-size: 50px; font-weight: 700;}
.module-alert-card .card {height: 280px;}
.log-progress-container > div {display: flex; align-items: center; justify-content: space-between;}



.subheader { color: #6D7183;}
.chart-header {font-size: 23px; font-weight: 700;}


.dashboard-middle > .col-3 {height: 190px;}
.dashboard-middle > .col-3 > .card {height: 100%;}


.apdex-chart-container {min-width: 190px;}
.apdex-no { z-index: 10; margin-top: -93px; font-size: 16px; font-weight: 700px;}


.response-code-chart > div {height: 50px;}
.response-code-chart {font-size: 12px;}


.performance-log-container {max-height: 750px;}
.performance-log-container * {max-height: 750px;}
.performance-log-container .table-responsive {max-height: 730px;}


.log-progress-container #time { font-size: 12px; width: 90px;}
.log-progress-container #module_name { font-size: 12px; }
.log-progress-container h6 {cursor: pointer; width: 40px;}
.log-progress-container .log-button {width: 40px;}

.url-error-container .table-responsive {max-height: 120px;}

.load-time-container .row {height: 40px; border-bottom: solid 0.5px; border-color: rgba(92, 92, 92, 0.25);}
.load-time-container .row:last-child {border: 0px;}
.load-time-container .row * {opacity: 1;}
.load-time-container .row div {display: flex; align-items: center;}
.load-time-container .row .col-5 {font-weight: 700;}

.url-load-container .col {font-size: 13px;}
.url-load-container .table-responsive { max-height: 120px;}