html {height: 100%;}
body {height: 100%; font-family: 'Ubuntu' , 'Noto Sans KR', sans-serif!important;}

a {color: #333;}
a:hover {color: #333; font-weight: 700;}

.muze-title-row {background-color: #070917;}

.muze-title {height: 60px; display: flex; align-items: center; justify-content: center;}
.muze-title a {font-weight: 700; color: #fff!important; font-size: 30px;}
.muze-container {height: 100%;}



.container-tab {height: 100%;}
.container-tab-card {height: 100%;}

.container-tab-card .nav-item {width: 135px; text-align: center;}
.container-tab-card .nav-item:last-child {width: 60px;}
.container-tab-card .nav-item a {padding-top: 13px;border: #fff 0 solid;}
.container-tab-card .nav-item a:hover {color: #333; border: #fff 0 solid; border-bottom: #001745 2px solid;}

.container-tab-card .nav-item .active { font-weight: 700; color: #fff; background-color: #001745; }
.container-tab-card .nav-item .active:hover {color: #fff}

.dashboard-tap * {height: 52px;}


.subheader { color: #6D7183;}
.chart-header {font-size: 23px; font-weight: 700;}

.apdex-no { z-index: 10; margin-top: -140px; font-size: 30px; font-weight: 700px;}


.response-code-chart > div {height: 50px;}