{% extends 'customer_page/base.html' %}
{% load static %}

{% block content %}

<div class="row container-tab py-4">
    <div class="col">
        <div class="card container-tab-card">
          <ul class="nav nav-tabs nav-tabs-alt dashboard-tap" data-bs-toggle="tabs">
            <li class="nav-item">
              <a href="#monitoring" class="nav-link active " data-bs-toggle="tab">Monitoring</a>
            </li>
            <li class="nav-item">
              <a href="#performance" class="nav-link" data-bs-toggle="tab">Performance</a>
            </li>
            <li class="nav-item ms-auto">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked onclick="change_period(1);">
                    <label class="period-btn btn btn-outline-dark" for="btnradio1">24H</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="change_period(7);">
                    <label class="period-btn btn btn-outline-dark" for="btnradio2">7D</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="change_period(30);">
                    <label class="period-btn btn btn-outline-dark" for="btnradio3">30D</label>
                </div>
            </li>
          </ul>
          <div class="card-body">
            <div class="tab-content ">
              <div class="tab-pane active show" id="monitoring">
                <div class=" row">
                    <div class="module-alert-left col-2">
                        <div class="row">
                            <div class="col">
                                <div class="card text-white text-center bg-danger mb-3">
                                    <div class="card-header">이벤트 발생</div>
                                    <div class="card-body">
                                        <div>1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card text-dark text-center bg-warning mb-3">
                                    <div class="card-header">처리</div>
                                    <div class="card-body">
                                        <div>1</div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card text-white text-center bg-success mb-3">
                                    <div class="card-header">완료</div>
                                    <div class="card-body">
                                        <div>1</div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <!--module chart & alert card-->
                    <div class="col-10">
                        <div class="row module-chart-container">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="module-bar-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row module-alert-card mt-3">
                            <div class="col-4">
                                <div class="card  mb-3">
                                    <div class="card-header text-white bg-danger">이벤트 발생</div>
                                    <div class="card-body">
                                        <div class="log-progress-container table-responsive">
                                            <table class="table table-vcenter card-table">
                                                <tbody class="dropdown">
                                                    {% for data in log_progress_data_alert %}
                                                      <tr>
                                                        <!-- <td><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="12" y2="12" /><line x1="12" y1="16" x2="12.01" y2="16" /></svg></td>       -->
                                                        <td id="time">{{ data.1 }}</td>
                                                        <td id="module_name">{{ data.2 }}</td>
                                                        
                                                        <td class="log-button text-muted" onclick="changeLogProgress({{data.0}}, -1, 1)">
                                                            <h6 class="m-0"><span class="badge bg-secondary">확인</span></h6>
                                                        </td>
                                                      </tr>
                                                  {% endfor %}
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header text-white bg-warning">처리</div>
                                    <div class="card-body">
                                        <div class="log-progress-container table-responsive">
                                            <table class="table table-vcenter card-table">
                                                <tbody class="dropdown">
                                                    {% for data in log_progress_data_process %}
                                                    <tr>
                                                        <!-- <td><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="12" y2="12" /><line x1="12" y1="16" x2="12.01" y2="16" /></svg></td>       -->
                                                        <td id="time">{{ data.1 }}</td>
                                                        <td id="module_name">{{ data.2 }}</td>
                                                        <td class="log-button text-muted" onclick="changeLogProgress({{data.0}}, 0, -1)">
                                                            <h6 class="m-0"><span class="badge bg-secondary">취소</span></h6>
                                                        </td>
                                                        <td class="log-button text-muted" onclick="changeLogProgress({{data.0}}, 0, 1)">
                                                            <h6 class="m-0"><span class="badge bg-secondary">확인</span></h6>
                                                        </td>
                                                      </tr>
                                                  {% endfor %}
                                                </tbody>
                                              </table>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header text-white bg-success">완료</div>
                                    <div class="card-body">
                                        <div class="log-progress-container table-responsive">
                                            <table class="table table-vcenter card-table">
                                                <tbody class="dropdown">
                                                    {% for data in log_progress_data_finish %}
                                                        <tr>
                                                            <!-- <td><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="12" y2="12" /><line x1="12" y1="16" x2="12.01" y2="16" /></svg></td>       -->
                                                            <td id="time">{{ data.1 }}</td>
                                                            <td id="module_name">{{ data.2 }}</td>
                                                            <td class="log-button text-muted" onclick="changeLogProgress({{data.0}}, 1, -1)">
                                                                <h6 class="m-0"><span class="badge bg-secondary">취소</span></h6>
                                                            </td>
                                                            <td class="log-button text-muted" onclick="changeLogProgress({{data.0}}, 1, 1)">
                                                                <h6 class="m-0"><span class="badge bg-secondary">확인</span></h6>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="tab-pane " id="performance">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title chart-header">페이지 응답 시간</h3>
                                <div class="row">
                                    <div class="col">
                                        <div id="load-time-chart"></div>
                                    </div>
                                </div>
                                
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 dashboard-middle">
                    <div class="col-3">
                        <div class="card">
                            <div class="row">
                                <div class="col-5 apdex-chart-container">
                                    <div id="apdex-chart" class="mt-3"></div>
                                    <div class="apdex-no text-center"> 1.00 </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h3 class="card-title chart-header" style="display: flex; justify-content: space-between;">
                                            <div>
                                                Apdex
                                                <a role="button" tabindex="0" title="Apdex = ((status code (200) count * 1 ) + (status code (300) count * 0.5 )) / total count">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon apdex-hint ms-1" width="24" height="24" viewBox="0 0 40 40" stroke-width="2" stroke="#212529" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="12" stroke="#efd143"
                                                stroke-width="1" fill="#FEFAD9" /> <path d="M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4" fill="#FEFAD9" /><line x1="12" y1="19" x2="12" y2="19.01" /></svg></a>
                                            </div>                                            
                                        </h3>
                                        <div class="row mt-4">
                                            <div class="col mb-1">
                                                <div class="row response-code-chart">
                                                    <div class="col-12">
                                                        <div class="row justify-content-between">
                                                            <div class="col-8">정상(200, 300)</div>
                                                            <div class="apdex-200 col-4 text-end ps-0">98%</div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <div class="progress" style="height: 5px;">
                                                                    <div class="apdex-200-bar progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row justify-content-between">
                                                            <div class="col-8">오류(400, 500)</div>
                                                            <div class="apdex-400 col-4 text-end ps-0">1%</div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <div class="progress" style="height: 5px;">
                                                                    <div class="apdex-400-bar progress-bar bg-danger" role="progressbar" style="width: 1%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title chart-header">에러 발생 중인 페이지</h3>
                                <div class="row">
                                    <div class="col-12 url-error-container">
                                        <div class="table-responsive">
                                            <table class="table table-vcenter card-table">
                                              <tbody class="dropdown url-error-table">
                                                    
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="load-time-container card-body">
                                <h3 class="card-title chart-header">응답 시간 수치</h3>
                                <div class="row">
                                    <!-- height 40px, col-5 : bold, border-bottom - 1px -->
                                    <div class="col-5">Median</div>
                                    <div id="med" class="col-7 text-center">{{ total_data.load_time_data.median }}</div>
                                </div>
                                <div class="row">
                                    <!-- height 40px, col-5 : bold, border-bottom - 1px -->
                                    <div class="col-5">Max</div>
                                    <div id="max" class="col-7 text-center">{{ total_data.load_time_data.max }}</div>
                                </div>
                                <div class="row">
                                    <!-- height 40px, col-5 : bold, border-bottom - 1px -->
                                    <div class="col-5">Min</div>
                                    <div id="min" class="col-7 text-center">{{ total_data.load_time_data.min }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="url-load-container card-body">
                                <h3 class="card-title chart-header">응답 시간 Top 5 URLs</h3>
                                <div class="row">
                                    <div class="col">
                                        <div class="table-responsive">
                                            <table class="table table-vcenter card-table">
                                              <tbody class="dropdown">
                                                {% for url in total_data.top_load_url %}
                                                    <tr>
                                                        <td style="max-width: 220px;">{{ url.0 }}</td>
                                                        <td>{{ url.1 }}</td>
                                                    </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
              </div>
              <div class="tab-pane" id="tabs-settings-10">
                <div>Donec ac vitae diam amet vel leo egestas consequat rhoncus in luctus amet, facilisi sit mauris accumsan nibh habitant senectus</div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="row log-table">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                      <thead>
                        <tr>
                          <th>Timestamp</th>
                          <th>URL</th>
                          <th>status_code</th>
                          <th>request_time</th>
                          <th>module</th>
                          <th>detection</th>
                          <th>Detail</th>
                        </tr>
                      </thead>
                      <tbody class="dropdown">
                        {% for data_row in total_data.total_log_data %}
                            <tr>
                                <td>{{ data_row.0 }}</td>
                                <td><a href="{{ data_row.1 }}">{{ data_row.1 }}</a></td>
                                <td>{{ data_row.3 }}</td>
                                <td>{{ data_row.4 }}</td>
                                <td>{{ data_row.5 }}</td>
                                <td>{{ data_row.6 }}</td>
                                <td class="text-muted" >
                                    <button type="button" class="btn btn-outline-success btn-sm report-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showLogModal({{ data_row }})">Detail</button>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="display: none;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그 상세 내역</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <dl class="row log-modal-container">
                <dt class="col-3">Time:</dt>
                <dd id="timestamp" class="col-9">2020-01-05 16:42:29 UTC</dd>
                <dt class="col-3">URL:</dt>
                <dd id="url" class="col-9">www.sample.com</dd>
                <dt class="col-3">Xpath:</dt>
                <dd id="xpath" class="col-9">sample xpath</dd>
                <dt class="col-3">응답 코드:</dt>
                <dd id="status_code" class="col-9">999</dd>
                <dt class="col-3">응답 시간:</dt>
                <dd id="request_time" class="col-9">0.0ms</dd>
                <dt class="col-3">메인 모듈:</dt>
                <dd id="module" class="col-9">Module Name</dd>
                <dt class="col-3">탐지 여부:</dt>
                <dd id="detection" class="col-9">True</dd>
                <dt class="col-3">처리 여부:</dt>
                <dd id="progress" class="col-9">Module Name</dd>
                <div class="logdata col-12 submodule-log-container" id="submodule" style="display: none;" class="col">
                    <div class="row">
                        <hr>
                        <dt class="col-3">Submodule:</dt>
                        <dd id="submodule" class="col-9">sample submodule</dd>
                    </div>
                </div>
            </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/dashboard-fe.js' %}"></script>
{% endblock %}
